<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servlet_project</display-name>
<!-- 웹사이트 기본 시작 페이지 지정 (index.html, main.jsp 등) -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
<!-- 에러페이지 전용으로 옮겨 
	<error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/err/err_404.html</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/WEB-INF/err/err_500.html</location>
  </error-page> 
  개발중에는 에러처리를 봐야하니, 막아두자 
-->
  
  
</web-app>