<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
    	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
	<Loggers>
    <Logger name="kr.mingi.mapper" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="kr.mingi.service" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="kr.mingi.controller" level="info" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    <!-- 하나의 Root 로거만 필요 -->
    <Root level="info"> <!-- 나머지 패키지들의 기본 로그 레벨 -->
        <AppenderRef ref="Console"/>
    </Root>
	</Loggers>
</Configuration>

<!-- Appender = 어디로 출력할지  
			log.info()는 기록되는 로그, 위의 level은 출력되는 레벨의 로그. 둘이 다르다. 
			additivity="false" 는 상위 로거로 로그가 전파되지 않도록.. 중복로그 방지 
-->