<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.mingi.mapper.CommentMapper">
	
	<select id="getCommentList" resultType="kr.mingi.entity.Comment">
		SELECT * FROM smgComment WHERE boardIdx = #{boardIdx} 
		ORDER BY commentGroup ${sortOrder}, COALESCE(parentIdx, commentIdx) ASC, indate ASC
	</select>

	
	<!-- 댓글작성: 1댓글은 NULL, 대댓글은 부모댓글의 commentIdx -->
	<insert id="insertComment" parameterType="kr.mingi.entity.Comment">
		INSERT INTO smgComment (memID, memName, comment, boardIdx, parentIdx, commentGroup)
		VALUES (#{memID}, #{memName}, #{comment}, #{boardIdx}, #{parentIdx}, #{commentGroup})
	</insert>
	<!-- 
		commentGroup은 최상위 부모의 commentGroup을 따라가게
		= parentIdx가 null이면 commentGroup은 자기 commentIdx,
			parentIdx가 존재하면, 
		 
		parentIdx는 부모댓글:null, 대댓글:부모commentIdx,
		= ajax에서 parentIdx를 "" 빈 문자열로 전달, 
			자식댓글은 댓글작성칸 동적생성해서 부모댓글의 cvo.commentIdx를 parentIdx로 대입  
	 -->
	
	
	
</mapper>